.jumptaq {
    font-family: oswald;
    margin-left: 50px;
    text-align: left;
}
.ulQuestions {
    font-family: century-gothic;
    margin-left: 50px;
    list-style: circle;
    font-size: 24px;
}
.v {
    color: #f34f4c;
}
.imp {
    color: #30d5c8;
}
.container {
    text-align: center;
}
.sections {
    font-family: oswald;
    font-size: 40px;
}
.blackText {
    font-size: 20px;
    font-family: century-gothic;
}
.contact-info {
    display: flex;
    justify-content: space-around;
    font-size: 1.2vw;
    font-family: verdana !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.body-bg {
    background-color: #f8f4ec;
}